/* app css stylesheet */


.card {
    background: white;
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
    text-align: center;
    position: relative;
    opacity: .95;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

@media all and (max-width: 400px) {
    main {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

a {
    color: #2D8BCF;
    font-family: Lato, sans-serif;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: Lato, appleLogo, sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 90%;
    margin-bottom: 5px;
    margin-top: 10px;
}

h3 {
    margin-top: 0;
    line-height: 110%;
    margin-bottom: 5px;
}

a.small {
    line-height: 100%;
    font-size: .9rem;
}

/* Form Styles */

input {
    width: 100%;
    display: inline-block;
    font-weight: 100;
    padding: 15px;
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 100;
    color: #475B62;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline: 0;
}

input[type=radio] {
    width: auto;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
    height: 80px;
    overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.j-point {
    cursor: pointer;
    padding: 8px;
}

strong {
    font-weight: bold;
}

#ja-remove-friend-btn {
    display: inline-block;
}

.j-friends {
    padding: 4px;
    margin: 4px;
    border: solid #4C83C9 1px;
    border-radius: 8px;
}

.j-point:hover {
    background-color: #c0c0c0;
}

.j-user-card {
    border: #1B7998 solid 1px;
    padding: 24px;
    display: inline-block;
    margin: 12px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn .btn-left {
    float: left;
}

.btn .btn-right {
    float: right;
}

.btn:focus, .btn:hover {
    background-color: #DC322F;
    outline: none;
}

.btn-list {
    background-image: url(../images/icons/icon_list.png);
}

.btn-checkin {
    background-color: #859835;
    background-image: url(../images/icons/icon_checkmark.png);
}

.btn-delete {
    background-color: #C94C24;
    background-image: url(../images/icons/icon_trash.png);
}

.btn-love {
    background-image: url(../images/icons/icon_heart.png);
}

.btn-email {
    background-image: url(../images/icons/icon_email.png);
}

.btn-meeting {
    background-image: url(../images/icons/icon_meeting.png);
}

.btn-pick {
    background: #2D8BCF url(../images/icons/icon_dice.png) 5px center no-repeat;
    background-size: 20px 20px;
    padding: 5px 5px 5px 30px;
    font-size: .8em;
    margin: 0 auto;
}

.btn-reset {
    background: #CB4B19 url(../images/icons/icon_reset.png) 5px center no-repeat;
    background-size: 20px 20px;
    padding: 5px 5px 5px 50px;
}

.showcheckins input {
    width: 80%;
}

.showcheckins .btn {
    margin: 0 3px;
    width: 15%;
    padding: 8px !important;
}

/*buttons*/

fieldset {
    margin: 10px 0;
}

.textintro h1 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.search {
    background: #F5F5F5;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 30px;
    border-radius: 4px;
    text-align: left;
    font-size: 1.1rem;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

.search h2 {
    color: #124E61;
    margin-bottom: 10px;
}

.search select {
    font-size: 1rem;
    padding: 10px 0 10px 15px;
    color: #475B62;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.search input[type="text"] {
    margin-bottom: 10px;
}

.search input[type="checkbox"] {
    display: inline;
    background-color: #ddd;
    border: 1px solid #C5C5C5;
    display: inline-block;
    margin-right: 15px;
    -webkit-appearance: none;
}

.search label {
    font-size: 1rem;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    color: #576E75;
}

.search .formgroup {
    float: left;
    width: 33%;
}

.search .buttons {
    display: block;
    width: 33%;
    float: right;
    text-align: right;
}

@media all and (max-width: 700px) {
    .search .formgroup {
        width: 50%;
    }

    .search .buttons {
        width: 100%;
        float: right;
    }
}

@media all and (max-width: 550px) {
    .search .formgroup {
        width: 100%;
    }
}

/* user List Styles */

.userlist {
    width: 100%;
    margin: 0 auto;
    opacity: .95;
    z-index: 10;
    margin-top: 20px;
}

.userlist ul {
    margin: 0;
    padding: 0;
}

.userlist li {
    width: 50%;
    float: left;
    padding: 12px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: 1px solid transparent;
}

.userlist li:hover {
    border: 1px solid #C5C5C5;
    border-radius: 4px;
}

.userlist li.expanded {
    width: 100%;
}

.userlist li.expanded form {
    width: 100%;
    padding: 10px 0;
}

.userlist li.expanded form input {
    width: 80%;
}

.userlist li.expanded .btn-love {
    background-color: #C61C6F;
}

.userlist .buttons {
    display: block;
    float: left;
    text-align: left;
    margin-right: 5px;
}

.userlist .info {
    display: block;
    float: left;
    text-align: left;
}

@media all and (max-width: 600px) {
    .userlist li {
        width: 100%;
    }

    .userlist .info {
        width: 70%;
    }
}

ul.awardslist {
    margin-top: 5px;
}

ul.awardslist li {
    width: auto;
    padding: 5px 5px 0 10px;
    margin: 2px;
    background-color: #797979;
    color: white;
    font-weight: normal;
    border-radius: 4px;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

ul.awardslist li:hover {
    background-color: #F5974E;
}

ul.awardslist li .btn-delete {
    background-color: transparent;
    background-size: 15px 15px;
    background-position: center 40%;
    margin: 0;
    border: none;
}

ul.awardslist li .award {
    padding-right: 15px;
}

nav {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.branding {
    float: left;
    margin: 20px;
}

.branding a {
    width: 80%;
    font-size: 1.6em;
    text-align: left;
    color: #1B7998;
    text-decoration: none;
    text-align: left;
}

.branding a:hover {
    color: none;
}

nav ul {
    width: 60%;
    float: right;
}

nav ul li {
    float: right;
    color: #145266;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    margin: 10px 0;
    font-size: 1.1em;
}

nav ul li.user {
    background-color: #D24244;
    color: #EFC94C;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

nav ul li.user.hello {
    margin-left: 60px;
    padding: 10px 15px;
}

nav ul li a {
    float: left;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}

nav li a:hover {
    color: #E76C5A;
}

.userinfo {
    text-align: center;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    padding-bottom: 5px;
}

.userinfo a {
    color: #2D8BCF;
}

.userinfo input {
    width: auto;
}

.addmeeting {
    width: 100%;
}

.addmeeting .inputwrapper {
    margin-right: 80px;
}

.addmeeting .inputwrapper input {
    float: left;
    width: 100%;
}

.addmeeting button {
    width: 60px;
    margin-left: 20px;
    vertical-align: center;
}

.meetings {
    padding-top: 10px;
}

.meetings h2 {
    padding-bottom: 5px;
}

.meetings .meeting {
    display: inline-block;
    padding: 10px 20px 10px 15px;
    margin: 3px 10px;
    border-radius: 4px;
    border: 1px solid #C5C5C5;

}

.meetings .meeting .btn {
    margin-right: 4px;
    padding: 1px 8px;
}

.meetings .meeting .text {
    display: inline-block;
    vertical-align: bottom;
}

.meetings .meeting .text a {
    text-decoration: none;
}

.tooltip {
    position: relative;
}

.tooltip span {
    background: #FFF;
    color: #000;
    font-size: .8em;
    bottom: 100%;
    display: block;
    left: -20px;
    opacity: 0;
    padding: 2px 13px;
    margin-bottom: 5px;
    pointer-events: none;
    position: absolute;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #C5C5C5;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    transform: translateY(25px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.tooltip:hover span {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.badge:empty {
    display: none;
}

.checkinslist {
    margin-top: 20px;
}

.checkinslist h1 {
    color: #2D8BCF;
}

.checkin h2 {
    margin: 0;
    padding: 0;
}

.checkin .btn {
    padding: 0;
    margin: 0 3px;
}

.checkinslist h3 {
    color: #657B83;
}

input.ng-invalid.ng-touched {
    border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
    border: 1px solid #509D12;
}

.ng-invalid .btn {
    background: gray;
}

.error {
    color: red;
    padding-bottom: 10px;
}

.message {
    color: indianred;
}

.menu {
  list-style: none;
  margin-bottom: 1em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
a {
    text-decoration: underline;
    color: #039BE5;
}
.mdl-menu a {
    text-decoration: none;
}
.content {
    max-width: 1024px;
}
.mdl-card {
    display: block;
}
h3 {
    background: url('https://static1.squarespace.com/static/58486f891b631beb1bea6ebe/t/5871c70e6b8f5b2a8ee6d964/1521487752886/?format=1500w') no-repeat;
    background-size: 40px;
    padding-left: 50px;
    background-position-y: -2px;
}
.mdl-textfield {
    width: 100%;
}
/* Fixes an MDL bug where the header does not scroll on small devices */
.mdl-layout__container .mdl-layout--fixed-header .mdl-layout__content {
    overflow-y: visible;
    overflow-x: visible;
    overflow: visible;
}
/* Overrides MDL colors */
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after,
.header .mdl-textfield__label:after {
    background-color: #FFCA28;
}
.mdl-snackbar__action {
    color: #FFCA28;
}
.mdl-textfield__label:after {
    background-color: #0288D1;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #0288D1;
}

/* Header */

.logo {
    font-family: 'Amaranth', sans-serif;
}
.logo .material-icons {
    top: 4px;
    font-size: 32px;
    margin-right: -2px;
    position: relative;
}
.header .mdl-layout__header-row {
    max-width: 1024px;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin: auto;
    position: relative;
}
@media screen and (max-width: 840px) {
    .header .mdl-layout__header-row.titlebar {
        height: 56px;
    }
    .titlebar h3 {
        font-size: 24px;
    }
    .titlebar h3 .material-icons {
        top: 2.5px;
        font-size: 23px;
    }
}
@media screen and (max-width: 479px) {
    .mdl-grid {
        padding: 0;
    }
    .mdl-card {
        font-size: 14px;
    }
}

/* Signed-in user */

.avatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 32px 32px;
    border-radius: 32px;
    border: 2px white solid;
    margin-right: 10px;
    background-image: url('https://cdn.hyperdev.com/us-east-1%3A5e7e49b6-c815-4877-8abb-29e7b6cdfc1c%2Fsilhouette.jpg');
}
.username {
    display: inline-block;
    line-height: 38px;
    vertical-align: top;
    width: calc(100% - 46px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
#sign-in-button {
    margin-left: 10px;
    color: inherit;
}
#sign-out-button {
    margin: 10px;
    color: inherit;
}
.mdl-button .material-icons {
    margin-top: -2px;
}
.mdl-button.mdl-button--icon .material-icons,
.mdl-button.mdl-button--fab .material-icons {
    margin-top: 0;
}

/* Navigation Bar */

.header .mdl-tab {
    padding-left: 23px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    margin: auto;
    max-width: 1024px;
}
@media screen and (max-width: 609px) {
    .header .mdl-tab {
        width: auto;
    }
}
.header .tab {
    padding: 0;
    max-width: none;
}
#add {
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 998;
}
@media screen and (max-width: 840px) {
    #add {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 998;
        top: auto;
    }
}
#sign-out-button {
    right: 0;
    position: absolute;
}

/* Drawer */

.mdl-layout__drawer-button {
    display: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active,
.is-active .mdl-menu__item {
    color: black;
    background-color: #EBEBEB;
}
.mdl-layout__drawer {
    border-right-width: 0;
}
.mdl-navigation__link .material-icons, .mdl-menu__item .material-icons {
    position: relative;
    margin-top: -2px;
    margin-right: 10px;
}
.mdl-menu__item .material-icons {
    top: 7px;
}
@media screen and (max-width: 479px) {
    .mdl-layout__drawer-button {
        display: block;
        top: 3px;
    }
}

/* New Post Page */

#page-add {
    display: block;
    text-align: center;
}
#page-add .mdl-cell {
    width: auto;
    min-width: 300px;
}
#newPictureContainer {
    margin: 0;
    max-width: 100%;
    max-height: 400px;
}
@media screen and (max-width: 479px) {
    .mdl-snackbar__action {
        margin-right: 60px;
    }
}
.comments-container .username {
    width: auto;
}
.comments-container .comment{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    color: grey;
    line-height: 25px;
}
.comments-container .username {
    line-height: 25px;
}

/* Post */

.post .mdl-card {
    height: 100%;
    top: 0;
    left: 0;
    min-height: 0;
}
.post .header {
    padding: 10px;
    width: calc(100% - 100px);
    display: inline-block;
}
.post .star-count {
    color: #444;
    padding: 0 10px 0 5px;
    font-weight: bold;
    display: inline-block;
    top: -10px;
    position: relative;
}
.post .comments-container {
    padding: 15px 10px 0 10px;
}
.post .text {
    padding: 0 10px;
    color: grey;
}
.post .comments-container .text {
    margin-left: 5px;
    color: #444;
    transition: all 0.2s;
}
.post .add-comment{
    flex-grow: 1;
    padding: 0 10px;
    margin-bottom: -10px;
}
.post .add-comment.mdl-textfield {
    width: 100%;
}
.post .star {
    position: absolute;
    top: 10px;
    right: 0;
}
.post .star .material-icons {
    font-size: 35px;
    color: #ffcb0c;
    cursor: pointer;
}
.post .star .material-icons:HOVER {
    opacity: 0.6;
}
.post .star .starred {
    display: none;
}

/* Splash Page */

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0288D1;
    background: radial-gradient(circle, #039BE5, #01579b);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.lab-text-center {
    text-align: center !important;
}

#lab-view {
    /*display: inline-block;*/
    padding: 2rem 4rem;
}

#lab-nav {
    display: inline-block;
}

@charset "UTF-8";
/* CSS Document */

/*
---- START: Quote Style Rules ----
*/

#bf-quote {
    position: relative;
    display: block;
    width: 700px;
    height: 600px;
    overflow: hidden;
    /*background: url(../images/background.jpg) no-repeat 0 0;*/
    margin: auto;
}

#bf-quote .intro {
    position: absolute;
    top: 1400px;
    /*left: 700px;*/
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px;
    width: 700px;
}

@media screen and (max-width: 600px) {
    #bf-quote {
        width: 100%;
    }

    #bf-quote .intro {
        width: 100%;
    }

    nav ul {
        width: initial;
    }
}

#bf-quote .intro.inactive,
#bf-quote .inactive.answered {
    top: 1200px;
}

#bf-quote .question {
    position: absolute;
    top: 1400px;
    /*left: 700px;*/
    width: 100%;
    background-color: #434343;
    padding: 12px;
}

#bf-quote .question .bf-ans {
    display: inline-block;
    /*border: solid thin whitesmoke;*/
    background-color: whitesmoke;
    border-radius: 40px;
    padding: 16px;
    width: 90%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 8px 8px;
    box-shadow: 2px 4px 50px 10px rgba(0, 0, 0, 0.3);
}

.bf-text-center {
    text-align: center;
}

#bf-quote .question .bf-ans-para {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.j-padding-container {
    padding: 0 32px 32px 32px;
}

.q-txt {
    color: whitesmoke;
}

#bf-quote .active, #bf-quote .inactive {
    transition: top 0.7s linear;
}

/* ---- FEEDBACK ----*/
#bf-quote .question.unanswered .feedback {
    /* margin-top: 50px; */
    transition: opacity 0.5s, margin-top 0.5s;
    visibility: hidden;
    opacity: 0;
}

#bf-quote .question.answered .feedback {
    visibility: visible;
    transition: opacity 1.5s, margin-top 1.5s;
    opacity: 1;
    margin-top: 10px;
}

#bf-quote .intro.inactive,
#bf-quote .inactive.answered {
    top: -1200px;
}

#bf-quote .active {
    top: 50px !important;
}

/*
---- END: Quote Style Rules ----
*/

.shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

body {
    background-color: #F7F7F7;
}

.yearDrop {
    margin-top: 15px;
}

.mainContainer {
    margin-top: 65px;
    margin-bottom: 50px;
    background: #fff;
    padding: 15px;
    border: 1px solid #e7e7e7;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

.fa-blue {
    color: #337ab7;
}

.btn-green {
    background-color: #33b841;
    color: #fff;
    cursor: default;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
    background-color: #33b841;
    color: #fff;
    box-shadow: none;
    cursor: default;
}

.btn-orange {
    background-color: #ffb11b;
    color: #fff;

}

.btn-orange:hover {
    background-color: #434343;
    color: #ffffff;
}

.noNew {
    background-color: #F0F0F0;
    color: #C4C4C4;
    cursor: default;
}

.noNew:hover, .noNew:active, .noNew:focus {
    background-color: #F0F0F0;
    color: #C4C4C4;
    cursor: default;
    box-shadow: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 175px;
}

.footer {
    margin-top: 25px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 175px;

    background-color: #E5E5E5;
}

#ft_about {
    float: left;
    padding-right: 15px;
    text-align: left;
    width: 300px;
}

#ft_contact {
    border-left: 1px solid rgba(127, 140, 141, 0.5);
    border-right: 1px solid rgba(127, 140, 141, 0.5);
    float: left;
    min-height: 270px;
    padding: 0 40px;
    text-align: left;
    width: 250px;
}

#ft_sites {
    float: left;
    padding-left: 30px;
    text-align: left;
    width: 230px;
}

.mainContainer {
    min-width: 1138px;
}

.navbar-fixed-top {
    min-width: 1138px;
}

#logInBG {
    width: 100%;
    height: 300px;
    background: url('../img/hero-banner-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#logIn {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 15px;
}

.whiteText {
    color: #fff;
}

.btn-current {
    background: #000;
}

.btn-current:hover {
    background: #000;
}

.panelTitle {
    padding-top: 0;
    margin-left: -5px;
    margin-top: 10px;
}

.tableMargin {
    margin-bottom: 0;
}

.contactCont {
    margin-bottom: 15px;
}

.footerHeading {
    margin-top: 0;
}

.footContainer {
    padding: 25px;
}

.footGap {
    width: 100%;
    height: 20px;
    background: #F7F7F7;
}

/*
	-- augmented CSS Julius Alvarado code --
*/

.dropdown > a.dropdown-toggle {
    color: #2d5a8c !important;
}

.j-match {
    margin: 12px 0;
    padding: 12px;
    background-color: whitesmoke;
    border: 1px solid #434343;
}




/*
end of CSS file
*/